/*Estilos para o formulário de URL personalizada*/

.form-radio {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}

.form-radio span {
    font-size: 14px;
    font-weight: 700;
}

.div-input-radio {
    display: flex;
}

.div-input-radio input {
    width: 25px;
    outline: none !important;
    box-shadow: none !important;

}

.input-url-automatica {
    margin-top: 20px;
}

.input-url-automatica input {
    margin-left: 10px;
    margin-bottom: 10px;

}

.input-url-personalizada input {
    margin-left: 94px;
    margin-bottom: 10px;
}
